﻿@model Dictionary<int, double>

<div class="jumbotron">
    <h1>Fibonacci Starter</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Input initial value:</h2>
        <form action="/Home/StartCount" method="post">
            @Html.TextBox("tb_FibStartValue")
            <input type="submit" value="Start"/>
        </form>

        @if (Model != null && Model.Count > 0)
        {
        <table>
            <thead>
                <tr>
                    <th width="120px">Worker num</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kvp in Model)
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value</td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
